@import '../../../assets/variables';

header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: $white;
  box-shadow: 0 0 20px 7px $light-gray;
  overflow: hidden;
  z-index: 100;
  
  .container-fluid {
    padding: 1rem 1.5rem;
    margin: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    a.logo {
      img {
        width: 10rem;
      }
    }

    div {
      height: 100%;
      padding: .5rem;
    }
    
    nav {
      ul {
        margin: 0;
        list-style: none;
        display: flex;
        gap: 2rem;
        align-items: center;
        
        li {
          display: flex;
          align-items: center;
          justify-content: center;
          
          a,
          button {
            min-height: 5.3rem;
            transition: all 0.3s;
            border-radius: 10rem;
            padding: 1rem 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
          }

          .location {
            color: $gray;
            border: none;
            outline: none;
            font-size: 16px;
            background: transparent;
            transition: all .3s;
          }

          .location:hover {
            background: $light-gray;
          }
          
          a.login {
            color: $gray;
            font-size: 18px;
            text-decoration: none;
            border: 1px solid $red;
            
            fa-icon {
              font-size: 18px;
              margin-right: 0.5rem;
            }
          }
          
          a.login:hover {
            color: $white;
            cursor: pointer;
            background-color: $red;
          }
          
          a.cart {
            color: $gray;
            text-decoration: none;
            
            fa-icon {
              font-size: 20px;
            }
            
            p {
              margin: 0;
              
              span {
                display: block;
              }
              
              span:first-child {
                font-size: 12px;
              }
              
              span:last-child {
                font-size: 10px;
              }
            }
          }
          
          a.cart:hover {
            background-color: $alpha-gray;
          }
          
          a.cart.have-item {
            color: $white;
            background-color: $red;
          }
          
          a.cart.have-item:hover {
            background-color: $dark-red;
          }
          
        }
      }
    }
  }
}
