<header>
  <div class="wrapper container-fluid">
    <a href="#" routerLink="/" class="logo">
      <img src="../../../assets/images/hfood-logo.svg" alt="">
    </a>
    <nav>
      <ul>
        <li>
          <a href="" class="login">
            <i class="fa-solid fa-user"></i>
            Login
          </a>
        </li>
        <li>
          <a href="#" routerLink="/cart-page" class="cart">
            <i class="fa-solid fa-cart-shopping"></i>
            <p>
              <span>R$ 0,00</span>
              <span>0 itens</span>
            </p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>