<header>
  <div class="wrapper container-fluid">
    <a href="#" routerLink="/" class="logo">
      <img src="../../../assets/images/hfood-logo.svg" alt="">
    </a>
    <div>
      <app-search [searchType]="'searchFood'" ></app-search>
    </div>
    <nav>
      <ul>
        <li>
          <button class="location" (click)="openLg(content)" *ngIf="!locationSelected">
            <fa-icon [icon]="['fas', 'location-dot']"></fa-icon>
            Escolha um local de entrega...
          </button>
          <button class="location" *ngIf="locationSelected">
            <fa-icon [icon]="['fas', 'location-dot']"></fa-icon>
            Entregar em: {{ locationSelected }}
          </button>
        </li>
        <li>
          <a class="login">
            <fa-icon [icon]="['fas', 'user']"></fa-icon>
            Entrar
          </a>
        </li>
        <li>
          <a routerLink="/cart" class="cart" ngClass="{{cartTotalPrice > 0 && cartTotalItems > 0 ? 'have-item' : ''}}">
            <fa-icon [icon]="['fas', 'bag-shopping']"></fa-icon>
            <p>
              <span>{{ cartTotalPrice | currency : 'BRL' }}</span>
              <span>{{ cartTotalItems }} itens</span>
            </p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<ng-template #content let-modal>
  <app-modal [title]="'Onde você quer receber o seu pedido?'" [modal]="modal" (locationSelected)="getModalLocation($event)" (modalHidden)="getModalHidden($event)"></app-modal>
</ng-template>