@import '../../../assets/variables';

div {
  width: 100%;
  display: flex;
  gap: 2rem;
  align-items: center;
  padding-block: 2rem;
  border-bottom: 1px solid $light-gray;

  a {
    height: 100%;
    width: 12rem;
    padding: .8rem 1.6rem;
    font-size: 1.2rem;
    background-color: $light-gray;
    border-radius: 10rem;
    color: $gray;
    text-decoration: none;
    transition: all .3s;
    text-align: center;
    border: 1px solid transparent;
  }

  a:hover {
    color: $white;
    background-color: $red;
    transform: scale(1.05);
  }
}
