<div class="container">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      {{ title }}
    </h4>
  </div>
  <div class="f-container modal-body">
    <h4>Buscar por CEP</h4>
    <app-search [searchType]="'searchLocationZip'" (zipEntered)="onZipEntered($event)"></app-search>
    <div class="search-result">
      <div class="search-result" *ngIf="locationData">
        <ul>
          <li>
            <button>
              <fa-icon [icon]="['fas', 'location-dot']"></fa-icon>
              <div class="btn-address">
                <span class="address-zip">{{ location.cep }}</span>
                <span class="address-infos">{{ location.logradouro }} - {{ location.bairro }}, {{ location.localidade }} - {{ location.uf }}</span>
              </div>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="f-container modal-footer">
    <p>Já tem um endereço salvo?</p>
    <p>Entre na sua conta para selecionar seu endereço.</p>
    <a>Entrar ou cadastrar</a>
  </div>
</div>