<div class="container">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      {{ title }}
    </h4>
  </div>
  <div class="f-container modal-body">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
      <li [ngbNavItem]="1">
        <button ngbNavLink>
          Buscar por CEP
        </button>
        <ng-template ngbNavContent>
          <app-search [placeholder]="'Insira o CEP'" [searchType]="'searchLocationZip'" (zipEntered)="onZipEntered($event)"></app-search>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <button ngbNavLink>
          Buscar por Endereço
        </button>
        <ng-template ngbNavContent>
          <app-search [placeholder]="'Insira o CEP'" [searchType]="'searchLocationAddress'" (click)="alertResponse()"></app-search>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2 content"></div>
    <div class="search-result" *ngIf="zipData">
      <ul>
        <li>
          <button>
            <fa-icon [icon]="['fas', 'location-dot']"></fa-icon>
            <div class="btn-address">
              <span class="address-zip">{{ zip.cep }}</span>
              <span class="address-infos">{{ zip.logradouro }} - {{ zip.bairro }}, {{ zip.localidade }} - {{ zip.uf }}</span>
            </div>
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="f-container modal-footer">
    <p>Já tem um endereço salvo?</p>
    <p>Entre na sua conta para selecionar seu endereço.</p>
    <a>Entrar ou cadastrar</a>
  </div>
</div>

<!-- <app-alert [staticAlertClosed]="staticAlertClosed" [alertMessage]="alertMessage" [alertType]="alertType"></app-alert> -->