<div class="container">
  <ul *ngIf="cart && cart.items.length > 0; else cartEmpty">
    <li *ngFor="let cartItem of cart.items">
      <div>
        <img [src]="cartItem.food.imageUrl" [alt]="cartItem.food.name">
      </div>
      <div>
        <a routerLink="/food/{{ cartItem.food.id }}">
          {{ cartItem.food.name }}
        </a>
      </div>
      <div>
        <select #quantitySelect (change)="changeQuantity(cartItem,quantitySelect.value)">
            <option value="1" [selected]="cartItem.quantity == 1" >1</option>
            <option value="2" [selected]="cartItem.quantity == 2" >2</option>
            <option value="3" [selected]="cartItem.quantity == 3" >3</option>
            <option value="4" [selected]="cartItem.quantity == 4" >4</option>
            <option value="5" [selected]="cartItem.quantity == 5" >5</option>
            <option value="6" [selected]="cartItem.quantity == 6" >6</option>
            <option value="7" [selected]="cartItem.quantity == 7" >7</option>
            <option value="8" [selected]="cartItem.quantity == 8" >8</option>
            <option value="9" [selected]="cartItem.quantity == 9" >9</option>
            <option value="10" [selected]="cartItem.quantity == 10" >10</option>
        </select>
      </div>
      <div>
        {{ cartItem.price | currency : 'BRL' }}
      </div>
      <div>
        <button class="remove-button" (click)="removeFromCart(cartItem)">
          <fa-icon [icon]="['fas', 'trash']"></fa-icon>
          Remover
        </button>
      </div>
    </li>
  </ul>

  <ng-template #cartEmpty>
    <div class="empty-cart">
      <p>Parece que ainda não há nada no seu carrinho... Volte a tela de <a routerLink="/">início</a> e escolha algo delicioso para comer! =)</p>
    </div>
  </ng-template>
  
  <div class="checkout">
    <div class="header">
      <h2>Total</h2>
    </div>
    <div>
      <div class="foods-count">{{ cart.items.length }}</div>
      <div class="total-price">{{ cart.totalPrice | currency : 'BRL' }}</div>
    </div>
  </div>
</div>