<form *ngIf="searchType === 'searchFood'" class="d-flex food" role="search">
  <input
    class="form-control me-2"
    type="search"
    placeholder="O que você está com vontade de comer hoje?"
    aria-label="Search"
    [(ngModel)]="searchTerm"
    name="searchTerm"
    (keyup)="onSearchFood()"
    (search)="onSearchFood()"
  />
  <button class="btn" type="submit" (click)="onSearchFood()">
    <fa-icon [icon]="['fas', 'magnifying-glass']"></fa-icon>
  </button>
</form>

<form
  *ngIf="searchType === 'searchLocationZip'"
  class="d-flex zip"
  role="search"
>
  <label for="zipInput">CEP (Obrigatório)*</label>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="ex: 012345678"
      aria-label="Username"
      aria-describedby="basic-addon1"
      #zipInput
      name="zipInput"
      (keyup)="onSearchByZip(zipInput.value)"
      maxlength="8"
    />    
    <button
      class="btn input-group-text"
      id="basic-addon2"
      type="submit"
      (click)="onSearchFood()"
    >
      <fa-icon [icon]="['fas', 'magnifying-glass']"></fa-icon>
    </button>
  </div>
</form>
