$red: #e72929;
$alpha-red: #e729297a;
$dark-red: #d52626;
$white: white;
$black: #222222;
$gray: #717171;
$light-gray:#f1f1f1;
$alpha-gray: #71717121;
$rating-star: #ff9900;
$green : green;
$pink: #ffbbbb;