@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700');
@import "../node_modules/bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
